
<div class="layout">
	<h1 class="page-title">開発者ページ</h1> 
	<%= form_tag("/developer/create_idol") do%>
	<div class="develop">
		メンバー<p><input name="name"></p>
		id<p><input name="id"></p>
		<p><input class="button" type="submit" value="投稿"></p>
	</div>
	<% end %>
</div>
