
<div class="layout">
	<h1 class="page-title">メンバー一覧</h1> 
	<div class="table">
		<table border="1">
		<thead>
			<tr>
				<th>id</th>
				<th>名前</th>
				<th>所属</th>
			</tr>
		</thead>
		<tbody>
			<% @idols.each do |idol| %>
				<% group = Group.find_by(id: idol.group_id)%>
				<tr>
					<th><%= idol.id %></th>
					<th><%= idol.name %></th>
					<th><%= group.name %></th>
				</tr>
			<% end %>
		</tbody>
		</table>
	</div>
</div