
<div class="top-main">
	<div class="top-message">
		<h2>気持ちの良いトレードをしよう</h2>
		<ul>
			<div class="left"><li class="button"><%= link_to("新規登録", "/")%></li></div>
			<div class="right"><li class="button"><%= link_to("ログイン", "/")%></li></div>
		</ul>
		
	</div>

</div>

