<div class="layout">
	<h1 class="page-title">投稿一覧</h1>

	<% @posts.each do |post| %>
		<div class="post-content">
			<%= simple_format(post.content) %>
			<%= simple_format(post.comment) %>
		</div>
	<% end %>
</div>