
<h1 class="page-title">投稿一覧</h1>

<% @posts.each do |post| %>
	<div class="post-content">
		<%= post.member %>
    <% if post.yori %>
			ヨリ
		<% end %>
		<% if post.tyu %>
			チュウ
		<% end %>
		<% if post.hiki %>
			ヒキ
		<% end %>
	</div>
<% end %>
 