
//reset

html{font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", sans-serif; line-height:1.5;}
h1, h2{margin: 0;}
body{margin: 0;}
a{text-decoration: none;}

/*
	紫： 7e1083
	ピンク： e2437a ff2b75
	薄紫： bf87c1
*/


//==ヘッダー==========================

header{
    height: 80px;
    line-height: 80px;
}

.header-logo{
    height: 80px;
    float: left;
    padding-top: 4px;
}

.header-logo img{
    height: 70px;
    width: 70px;
}

.header-main{
    color: #7e1083;
    margin: 0;
    padding-right: 70px;
    font-size: 12px;
    text-align: center;
}

.header-main > hr{
    margin-bottom: 0;
}

.header-main a{
    color: #7e1083;
}

//====トップページ==============

.top-main{
    margin-top: 17px;
}

.top-message{
    text-align: center;
    font-size: 30px;
    margin: auto;
    height: 500px;
}

.top-message h2{
    color: #333;
    margin-top: 250px;
}

.top-message li{
    list-style: none;
    padding-top: 30px;
    padding-left: auto;
}

.left{
    float: left;
    width: 50%;
    margin: 100px auto;
}

.right{
    float: right;
    width: 50%;
    margin: 100px auto;

}

.button > a{
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    background: #668ad8;/*ボタン色*/
    color: #FFF;
    border-bottom: solid 4px #627295;
    border-radius: 3px;
}

.button > a:active{
    -ms-transform: translateY(4px);
    -webkit-transform: translateY(4px);
    transform: translateY(4px);/*下に動く*/
    border-bottom: none;/*線を消す*/
}
