
.signup-main{
    width: 70%;
    height: 500px;
    margin: auto;
}

.signup-main input {
    margin-bottom: 15px;
}
.signup-main p {
    text-align: left;
    margin: 0;
    padding-top: 10px;
    padding-left: 20%;
}

.user-content{
    max-width: 500px;
    color: #333;
    text-align: center;
    margin: 0 auto;
}

.user-content a{
    color: #333;
    text-decoration: none;
}
